<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle }} | Kettle</title>
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.0.5/css/foundation.min.css">
</head>
<body>
<ul class="navigation">
    {% if logged_in == true %}
        <li><a href="{{ url_route( 'doLogout' ) }}">Log Out</a></li>
    {% else %}
        <li><a href="{{ url_route( 'login' ) }}">Log In</a></li>
    {% endif %}
</ul>
<div class="container">
    {% block content %}{% endblock %}
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.0.5/js/foundation.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>