{% extends 'layout' %}

{% block content %}
    <div class="columns" id="notes-container">
        <div class="column is-3">
            <button class="new-note button is-primary is-large" v-on:click="makeNewNote">
                <span class="icon is-small"><i class="fa fa-plus"></i></span>
                <span>New Note</span>
            </button>
            <div class="cards notes">
                <note v-for="note in notes" v-bind="note" v-bind:key="note.id" v-on:activate="selectNote(note)" v-bind:class="{ active: note.isActive }"></note>
            </div>
        </div>
        <div class="column">
            <div class="note-ui">
                <input v-model="activeNote.title" class="title is-1 note-title input">
                <textarea v-model.trim="activeNote.body" class="body note-body textarea"></textarea>

                <button class="save-note button is-primary" v-on:click="saveNewNote" v-if="newNote">
                    <span class="icon is-small"><i class="fa fa-save"></i></span>
                    <span>Save</span>
                </button>
                <button class="update-note button is-info" v-on:click="updateNote" v-if="!newNote">
                    <span class="icon is-small"><i class="fa fa-save"></i></span>
                    <span>Update</span>
                </button>
                <button class="delete-note button is-danger" v-on:click="deleteNote" v-if="!newNote">
                    <span class="icon is-small"><i class="fa fa-remove"></i></span>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
