{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="col-3">
            <button class="new-note btn btn-primary btn-lg"><i class="material-icons">note_add</i> New Note</button>
            <div class="cards">
                {% for note in notes %}
                    {% include 'notes.card' %}
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="title" contenteditable></div>
            <input type="hidden" class="id">
            <div class="body" contenteditable></div>
            <button class="save-note btn btn-primary"><i class="material-icons">save</i> Save</button>
            <button class="update-note btn btn-info"><i class="material-icons">save</i> Update</button>
            <button class="delete-note btn btn-danger"><i class="material-icons">delete</i> Delete</button>
        </div>
    </div>
{% endblock %}
