{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Stats</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Notes:</h3>
            <strong>{{ noteCount }}</strong>
        </div>
        <div class="col">
            <h3>Journal Entries:</h3>
            <strong>{{ journalEntryCount }}</strong>
        </div>
        <div class="col">
            <h3>Tasks</h3>
            <strong>{{ taskCount }}</strong>
        </div>
    </div>
{% endblock %}
