{% extends 'layout' %}

{% block content %}
    <div class="columns">
        <div class="column">
            <h2 class="title is-2">Dashboard</h2>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Notes</p>
                        <p class="title">{{ noteCount }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Journal Entries</p>
                        <p class="title">{{ journalEntryCount }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Tasks</p>
                        <p class="title">{{ taskCount }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
