{% include 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Jotistry</h1>
            <p>This is a personal dashboard. You must be logged in to do anything here.</p>
        </div>
    </div>
{% endblock %}
