<div class="card box">
    <header class="card-header">
        <p class="card-header-title">
            {{ entry.created_at|date('M jS, Y g:i a', timezone="America/Chicago") }}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{ entry.body|slice(0,144) }}...</p>
        </div>
    </div>
    <footer class="card-footer">
        <a href="{{ url_route('journalentries.show', { 'id': entry.id }) }}" class="card-footer-item">Read More</a>
    </footer>
</div>
