{% extends 'layout' %}

{% block content %}
<div class="row">
    <div class="col">
        {{ form_model( journalentry, { 'route': [ 'journalentries.store' ], 'method': 'post' } ) }}
        <div class="form-group">
            {{ form_textarea( 'body', '', { 'class': 'body form-control' } ) }}
        </div>
        {{ form_submit( 'Save', { 'class': 'btn btn-primary btn-lg', 'type': 'submit' } ) }}
        {{ form_close() }}
    </div>
</div>

{% endblock %}
