{% extends 'layout' %}

{% block content %}
<div class="columns">
    <div class="column">
        {{ form_model( journalentry, { 'route': [ 'journalentries.store' ], 'method': 'post' } ) }}
        <p class="control">
            {{ form_textarea( 'body', '', { 'class': 'textarea journal-body-edit' } ) }}
        </p>
        {{ form_submit( 'Save', { 'class': 'button is-primary is-large', 'type': 'submit' } ) }}
        {{ form_close() }}
    </div>
</div>

{% endblock %}
