{% extends 'layout' %}

{% block content %}
<div class="row">
    <div class="medium-12 columns">
        {{ form_model( journalentry, { 'route': [ 'journalentries.update', journalentry.id ], 'method': 'put' } ) }}
        <label>
            {{ form_textarea( 'body', journalentry.body, { 'class': 'body' } ) }}
        </label>
        {{ form_submit( 'Save', { 'class': 'button', 'type': 'submit' } ) }}
        {{ form_close() }}
    </div>
</div>

{% endblock %}
