{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{{ url_route('journalentries.create') }}" class="btn btn-primary"><i class="material-icons">add_circle</i> New Entry</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Entries</h2>
            <ul class="entries">
                {% for entry in entries %}
                <li><a href="{{ url_route('journalentries.show', { 'id': entry.id }) }}">{{ entry.updated_at|date('M jS, Y g:i a', timezone="America/Chicago") }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
