{% extends 'layout' %}

{% block content %}
    <div class="columns">
        <div class="column">
            <a href="{{ url_route('journalentries.create') }}" class="button is-primary"><span class="icon is-small"><i class="fa fa-plus"></i></span> New Entry</a>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            {% for entry in entries %}
                {% include 'journal.card' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
