.card {
  border: 1px solid #eee;
  color: #aaa;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  height: 8rem;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 5px -1px rgba(66, 76, 97, 0.57);
  -moz-box-shadow: 3px 3px 5px -1px rgba(66, 76, 97, 0.57);
  box-shadow: 3px 3px 5px -1px rgba(66, 76, 97, 0.57);

  &.active {
    background-color: #f1f1f1;
    border: 1px solid #eaeaea;
    position: relative;
    top: -2px;
    left: -2px;
  }

  h3 {
    color: #777;
    font-size: 1.25rem;
  }

  h4 {
    font-size: 0.75rem;
    font-style: italic;
  }

  span {
    display: none;
  }
}

.update-note {
  display: none;
}

.delete-note {
  display: none;
}

.cards {
  height: 30rem;
  overflow: auto;
}

.content {
  height: 5rem;
  font-size: 2rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #eee;
  outline: none;
}

.task {
  div {
    display: inline-block;
  }
  span {
    display: none;
  }
}

.body {
  border: 1px solid #eee;
  height: 30rem;
  outline: none;
  overflow: auto;
  margin-bottom: 1rem;
  padding: 1rem;
}

.github-label {
  display: block;
  float: left;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  margin: 0 0.25rem;
}

.title {
  font-size: 2rem;
  min-height: 2rem;
  border: 1px solid #eee;
  outline: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
