<div class="task {{ task.id }}">
    <button class="save-task btn btn-primary"><i class="material-icons">save</i> Save</button>
    <a class="complete-task"><i class="material-icons">check_box_outline_blank</i></a>
    <div contenteditable>{{ task.content|raw }}</div>
    <span>{{ task.id }}</span>
</div>
